@media screen and (min-width: 768px) {
    #wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 75px auto 50px;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
        max-width: 90vw;
        max-width: 1600px;
        gap: 10px;
        margin: auto;
    }

    nav {
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 0;
    }

    nav a {
        margin: 5px;
    }

    .only-desktop {
        display: block;
    }

    main {
        background-color: rgb(221, 235, 211);
        padding: 10px;
    }

    #cards-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

}